@model TP_PW.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border border-white rounded" style="margin: 1rem; padding-top: 1rem">
            <h2>Eliminar</h2>
            <hr />
            <h4>Tem a certeza que quer eliminar este utilizador?</h4>
            

                <hr />
                @using (Html.BeginForm())
                {
                    

                    @Html.AntiForgeryToken()
                  
                    <div class="form-group row">
                        <label for="UserName" class="col-md-6 col-form-label h3">Nome do Utilizador :</label>
                        <div class="col-md-6 h4">
                            @Html.DisplayFor(model => model.PrimeiroNome, new { @class = "form-control" })
                            @Html.DisplayFor(model => model.Apelido, new { @class = "form-control" })    
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary">Apagar</button>
                            <button type="button" class="btn btn-outline-danger" onclick="location.href='@Url.Action("Index", "Users")'">Cancelar</button>
                        </div>
                    </div>
                }
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>




